# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.egg-info/
*.egg
*.log

# Envs
.venv/
venv/
env/
ENV/
*.env
.env
.env.*

# PyInstaller
build/
dist/
*.spec

# OS junk
.DS_Store
Thumbs.db

# Editors / IDEs
.vscode/
.idea/
.history/

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/

# Project specific (user local data)
# Config and logs are stored outside the repository (in home directory), but just in case:
.jira_reminder/
archives/
patches/
